<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="u1_arm">
  <link name="world" />
  <link name="u1_frame">
    <visual>
      <origin xyz="-0.24 0.181 0.484" rpy="3.1416 0 1.5708" />
      <geometry>
        <mesh filename="package://u1_arm_description/meshes/u1_arm/u1.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="u1_frame_material">
        <color rgba="0.45 0.48 0.52 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.24 0.181 0.484" rpy="3.1416 0 1.5708" />
      <geometry>
        <mesh filename="package://u1_arm_description/meshes/u1_arm/u1.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <joint name="world_to_u1_frame" type="fixed">
    <parent link="world" />
    <child link="u1_frame" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <joint name="u1_frame_to_l0" type="fixed">
    <parent link="u1_frame" />
    <child link="l0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link
    name="l0">
    <inertial>
      <origin
        xyz="1.1048E-05 2.819E-05 0.017652"
        rpy="0 0 0" />
      <mass
        value="0.18582" />
      <inertia
        ixx="7.8802E-05"
        ixy="-2.7139E-08"
        ixz="6.2215E-09"
        iyy="7.8857E-05"
        iyz="-1.1929E-08"
        izz="0.0001443" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://u1_arm_description/meshes/u1_arm/l0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://u1_arm_description/meshes/u1_arm/l0.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="l1">
    <inertial>
      <origin
        xyz="-2.3989E-05 0.00072349 0.030262"
        rpy="0 0 0" />
      <mass
        value="0.23473" />
      <inertia
        ixx="8.1407E-05"
        ixy="-1.5383E-09"
        ixz="-2.4428E-07"
        iyy="0.0001113"
        iyz="-1.6227E-08"
        izz="7.4518E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://u1_arm_description/meshes/u1_arm/l1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://u1_arm_description/meshes/u1_arm/l1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j1"
    type="revolute">
    <origin
      xyz="0 0 0.059"
      rpy="0 0 0" />
    <parent
      link="l0" />
    <child
      link="l1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.1745"
      upper="1.7453"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="l2">
    <inertial>
      <origin
        xyz="0.18363 0.00079011 -0.038337"
        rpy="0 0 0" />
      <mass
        value="0.43737" />
      <inertia
        ixx="5.4405E-05"
        ixy="2.9899E-09"
        ixz="-2.3792E-08"
        iyy="0.0035564"
        iyz="-6.766E-09"
        izz="0.0035629" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://u1_arm_description/meshes/u1_arm/l2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://u1_arm_description/meshes/u1_arm/l2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j2"
    type="revolute">
    <origin
      xyz="0 -0.038625 0.043"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="l1" />
    <child
      link="l2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.061087"
      upper="1.6057"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="l3">
    <inertial>
      <origin
        xyz="0.15075 4.01E-06 -0.038068"
        rpy="0 0 0" />
      <mass
        value="0.50886" />
      <inertia
        ixx="8.4845E-05"
        ixy="-4.6137E-07"
        ixz="2.6796E-08"
        iyy="0.0018411"
        iyz="-1.2049E-08"
        izz="0.0018926" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://u1_arm_description/meshes/u1_arm/l3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.86667 0.9098 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://u1_arm_description/meshes/u1_arm/l3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j3"
    type="revolute">
    <origin
      xyz="0.35 0 0"
      rpy="0 0 3.1416" />
    <parent
      link="l2" />
    <child
      link="l3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.087266"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="l4">
    <inertial>
      <origin
        xyz="0.064955 -0.044026 -0.024447"
        rpy="0 0 0" />
      <mass
        value="0.22821" />
      <inertia
        ixx="6.995E-05"
        ixy="2.8266E-05"
        ixz="-5.5489E-07"
        iyy="0.00010129"
        iyz="8.8924E-07"
        izz="0.00012107" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://u1_arm_description/meshes/u1_arm/l4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.86667 0.9098 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://u1_arm_description/meshes/u1_arm/l4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j4"
    type="revolute">
    <origin
      xyz="0.28 0 -0.0045"
      rpy="0 0 3.1416" />
    <parent
      link="l3" />
    <child
      link="l4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.22689"
      upper="3.8048"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="l5">
    <inertial>
      <origin
        xyz="0.029337 4.5147E-06 0.02637"
        rpy="0 0 0" />
      <mass
        value="0.096737" />
      <inertia
        ixx="1.6629E-05"
        ixy="2.6201E-08"
        ixz="-1.4424E-07"
        iyy="0.00012712"
        iyz="3.7249E-09"
        izz="0.00012739" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://u1_arm_description/meshes/u1_arm/l5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://u1_arm_description/meshes/u1_arm/l5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j5"
    type="revolute">
    <origin
      xyz="0.08 -0.0261 -0.033"
      rpy="-1.5708 0 0" />
    <parent
      link="l4" />
    <child
      link="l5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="0"
      velocity="0" />
  </joint>
</robot>
